#footer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    background: #F6F9FC;
    height: 80vh;
}

#footer-data img {
    width: 150px;
    margin-top: 60px;
    margin-left: 80px;
}

#footer-data ul li {
    margin-left: 80px;
    padding: 10px;
    border-right: 1px #77797a solid;
}

#footer-locations img {
    width: 25px;
}

#footer-services {
    margin-top: 80px;
    margin-left: 20px;
}

#footer-services ul {
    margin-top: 10px;
}

#footer-services ul li {
    padding: 7px;
    padding-right: -10px;
}

#footer-services-2 {
    margin-top: 120px;
}

#footer-services-2 ul li {
    padding: 10px;
    border-right: 1px #77797a solid;
}

#footer-sitelinks {
    margin-top: 80px;
    margin-left: 30px;
}

#footer-sitelinks ul {
    margin-top: 10px;
}

#footer-sitelinks ul li {
    padding: 8px;
    border-right: 1px #77797a solid;
    margin-right: 100px;
}

#footer-locations ul img {
    margin-left: -40px;
    margin-top: 20px;
}

#footer-locations ul img:first-child {
    margin-top: 100px;
}

#footer-locations ul li {
    margin-top: -35px;
}

#footer-locations h3 {
    margin-top: 80px;
    margin-left: -40px;
    margin-bottom: -80px;
}

#fbottom-text {
    margin-left: 80px;
}

#footer-bottom {
    grid-column: 1 / span 4;
}

#footer-social img {
    width: 50px;
    margin-left: 5px;
    margin-top: 20px;
}

#footer-social img:first-child {
    margin-left: 70px;
}